<template>
    <div class="home">
        <div class="text-right mb-4 d-flex justify-content-end align-items-center">
            <span v-if="currentUser">Hello,</span>
            <b-dropdown right id="ddown1" variant="link" class="px-0">
                <template slot="text">
                    <span v-if="currentUser">
                        {{ currentUser}}
                    </span>
                    <span v-else>
                        SELECT USER
                    </span>
                </template>
                <b-dropdown-item
                        v-for="user of allUsers" :key="user"
                        @click="setUser(user)"
                        :active="currentUser === user">{{ user }}
                </b-dropdown-item>
                <b-dropdown-divider/>
                <b-dropdown-item
                        @click="setUser(null)">Logout
                </b-dropdown-item>
            </b-dropdown>
        </div>

        <form class="mb-4" @submit.prevent="addTweet">
            <div class="form-group row">
                <label for="inputText" class="col-sm-2 col-form-label">Write new tweet:</label>
                <div class="col-sm-10">
                    <textarea
                            required
                            v-model="text"
                            rows="5" class="form-control" id="inputText"
                            placeholder="Write new tweet"></textarea>
                </div>
            </div>
            <div class="form-group text-right">
                <button class="btn btn-success" :disabled="this.loading">
                    <span v-if="!this.loading"><i class="fas fa-plus"></i> Add</span>
                    <span v-else>Sending...</span>
                </button>
            </div>
        </form>

        <Tweets></Tweets>
    </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'

import Tweets from '@/components/Tweets.vue'

export default {
  name: 'home',
  components: {
    Tweets
  },
  data () {
    return {
      text: '',
      searchText: '',
      loading: false
    }
  },

  computed: {
    ...mapGetters(['tweets', 'allUsers', 'currentUser'])
  },
  methods: {
    ...mapMutations({
      setUser: 'setUser'
    }),
    addTweet () {
      if (this.currentUser === null) {
        alert('Please, select user!')
      } else if (this.text) {
        this.loading = true
        this.$store.commit('addTweet', this.text)// .then(() => {
        this.loading = false
        this.text = ''
        // })
      }
    }
  }
}
</script>
