<template>
    <div>
        <div class="text-center">
        <h1>@{{ this.$route.params.user }} - profile page</h1>

        <h6>All tweets:</h6>
        </div>
        <Tweets :user="this.$route.params.user"></Tweets>

    </div>
</template>

<script>
import Tweets from '@/components/Tweets.vue'

export default {
  name: 'profile',
  components: {
    Tweets
  }
}
</script>
