<template>
    <div style="max-width: 400px;margin: auto auto 2rem;">
        <input v-if="!user" class="form-control mb-4"
               type="search" v-model="searchText" @input="searchTweet(searchText)"
               placeholder="Search by tweet or name..."/>
        <template v-if="tweets.length">
            <Tweet v-for="(tweet, index) in tweets"
                   :key="index"
                   :tweet="tweet"
                   :currentUser="currentUser"
            ></Tweet>
        </template>
        <template v-else>
            No tweets..
        </template>
    </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import Tweet from '@/components/Tweet'

export default {
  name: 'home',
  components: {
    Tweet
  },
  props: {
    user: {
      required: false,
      default: ''
    }
  },
  data () {
    return {
      text: '',
      searchText: '',
      loading: false
    }
  },
  created () {
    // this.$store.dispatch('getTweets')
  },
  beforeMount () {
    if (this.user) {
      this.searchTweet(this.user)
    } else {
      this.searchTweet('')
    }
  },
  computed: {
    ...mapGetters(['tweets', 'currentUser', 'allUsers'])
  },
  methods: {
    ...mapMutations({
      searchTweet: 'searchTweet'
    }),
    addTweet () {
      if (this.currentUser === null) {
        alert('Please, select user!')
      } else if (this.text) {
        this.loading = true
        this.$store.commit('addTweet', this.text)
        this.loading = false
        this.text = ''
      }
    }
  }
}
</script>
