<template>
    <b-card class="mb-4"
            style="">

        <template slot="header">
            <router-link :to="{ name: 'profile', params: { user: tweet.user }}">
                <span class="font-weight-bold mr-2">@{{ tweet.user }}</span>
            </router-link>
            <span class="small">{{ tweet.date | moment('HH:mm:ss MMMM Do YYYY') }}</span>
        </template>
        <div>
            <form class="mb-4" @submit.prevent="editTweet(tweet)" v-if="tweet.edit">
                <div class="form-group ">
                    <label for="inputText" class="">Edit your tweet:</label>
                    <div class="">
                    <textarea
                            required
                            v-model="tweet.text"
                            rows="5" class="form-control"
                            placeholder="Write new tweet"></textarea>
                    </div>
                </div>
            </form>
            <template v-else>
                {{ tweet.text }}
            </template>
        </div>
        <template slot="footer">
            <div class="d-flex justify-content-between align-items-center ">
                <!--<button type="button"
                        class="btn btn-outline-primary" @click="likeTweet(tweet, currentUser)">
                    Like
                </button>-->
                <template  v-if="tweet.user === currentUser" >
                    <b-btn variant="outline-danger" @click="removeTweet(tweet)"><i class="fas fa-trash"></i> Delete</b-btn>
                    <b-btn variant="outline-warning" @click="tweet.edit = !tweet.edit" v-if="!tweet.edit"><i class="fas fa-edit"></i> Edit</b-btn>

                    <button class="btn btn-success" @click="editTweet(tweet)" v-if="tweet.edit">
                        <i class="fas fa-save"></i> Save
                    </button>
                </template>
            </div>
        </template>
    </b-card>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'Tweet',
  props: ['tweet', 'currentUser'],

  methods: {
    ...mapMutations({
      likeTweet: 'likeTweet',
      searchTweet: 'searchTweet',
      editTweet: 'editTweet',
      removeTweet: 'removeTweet'
    })
  }
}
</script>
